@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <p>Ever wondered where all your money disapperead to?</p><br/>
    <p>Track all your expenses daily</p><br/>
    <ol>
        <li>Choose a date</li>
        <li>Enter expenses for that day</li>
        <li>Submit to save to the database</li>
    </ol>
</article>